In [1]:
# 3rd party imports
import pandas as pd

In [2]:
data: pd.DataFrame = pd.read_csv("../data/New_York_Airbnb_4_dec_2021.csv", sep=',', header=0)

/var/folders/5q/nhw4d0ys1kqgclnb7dz1yphm0000gp/T/ipykernel_68307/3581222025.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("New_York_Airbnb_4_dec_2021.csv", sep=',', header=0)

In [3]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.33,3,338,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,409,2021-10-22,4.86,1,194,32,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.52,2,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,123,1,NaN
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,507,2021-11-08,3.68,1,192,33,NaN

In [4]:
data.shape

(38277, 18)

In [5]:
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [6]:
clean_data: pd.DataFrame = data.copy()
clean_data.drop('license', axis=1, inplace=True)

In [7]:
col_nan: list[str] = [col for col in clean_data.columns if clean_data[col].isna().sum() > 0]
col_nan

['name', 'host_name', 'last_review', 'reviews_per_month']

In [8]:
clean_data.dropna(axis=0, subset=['name', 'host_name', 'last_review', 'reviews_per_month'], inplace=True)

In [9]:
clean_data.shape

(28747, 17)

In [10]:
clean_data.isnull().values.any()

False

In [13]:
clean_data.to_csv("../data/New_York_Airbnb_4_dec_2021_cleaned.csv", sep=',', index=False)